<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.polycube.backendtest.domain.user.dao.UserDao">
    <insert id="create" parameterType="string">
        INSERT INTO "USER" (NAME)
        VALUES (#{name})
    </insert>

    <select id="readResentUser" resultType="long">
        SELECT ID
        FROM "USER"
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="readById" parameterType="long" resultType="User">
        SELECT ID, NAME
        FROM "USER"
        WHERE ID = #{id}
    </select>

    <update id="update" parameterType="User">
        UPDATE "USER"
        <set>
            <if test="name != null and name != ''">NAME = #{name},</if>
        </set>
        WHERE ID = #{id}
    </update>
</mapper>